In [20]:
import pandas as pd
import numpy as np
import random
import string
np.random.seed(56)

In [7]:
pd.DataFrame({'A':[1,2, 3], 'B':[3,4, 5], }, index = [0,1, 2])

   A  B
0  1  3
1  2  4
2  3  5

In [12]:
pd.DataFrame([[1,2,3],[4, 5, 6]], index = [1, 2], columns=['A', 'B', 'C'])

   A  B  C
1  1  2  3
2  4  5  6

In [14]:
pd.DataFrame([[1,2],[3,4],[5,6]], index=[1,2,3], columns=['A','B'])

   A  B
1  1  2
2  3  4
3  5  6

In [17]:
pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[0,0,0]], index=range(1,5), columns=['A','B','C'])

   A  B  C
1  1  2  3
2  4  5  6
3  7  8  9
4  0  0  0

In [19]:
pd.Series({"한국":"서울", "일본":"도쿄","중국":"베이징"})

한국     서울
일본     도쿄
중국    베이징
dtype: object